﻿@{
    ViewData["Title"] = "Product Page";
}
@model List<ProductViewModel>
<ul>
    @foreach (var product in Model)
    {
        <li>@product.ID.@product.Name - @product.Price$(@product.CreatedDate)</li>
    }
</ul>

<table>
    <thead>
    <td>
        Id
    </td>
    <td>
        Name
    </td>
    <td>
        Price
    </td>
    <td>
        Created date
    </td>
    </thead>
    @foreach (var product in Model)
    {
        <tr>
            <td>
                @product.ID
            </td>
            <td>
                @product.Name
            </td>
            <td>
                @product.Price$
            </td>
            <td>
                @product.CreatedDate
            </td>
        </tr>
    }
</table>
